/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */


.first{
  /* background-color: aqua; */
  height: 28%;
  margin-left: 6px;
  padding-top: 60px;
}

.second{
  /* background-color: firebrick; */
  height: 28%;
}

.third{
  /* background-color: white; */
  height: 28%;
}

.fourth{
  /* background-color: indigo; */
  height: 28%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.middle{
  /* background-color: blueviolet; */
  width: 1600px;
  height: auto;
  display: flex;
  align-items:center;
  justify-content: center;
  margin-top: -490px;
}
.next{
  /* background-color: darkkhaki; */
  /* width: 1600px;
  height: auto; */
  display: flex;
  align-items:center;
  justify-content: start;
  margin-top: 20px;
  margin-left: 140px;
}
.order{
  display: flex;
  justify-content: space-around;
  list-style-type: none;
}
.yes{
  /* background-color: sienna; */
  /* width: 1600px;
  height: auto; */
  
  margin-top: 20px;
  margin-left: 140px;
}
.no{
  /* background-color: gold; */
  width: auto;
  height: 150px;
  display: grid ;
  grid-template-columns: 1fr 1fr 1fr;
  /* align-items: center; */
  margin-top: 10px;
  margin-left: 140px;
}
.list{
  list-style-type: none;
  color: #6B6B6B;
  font-size: 14px;
}